<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>ROCK PAPER SCISSORS</title>
    <!-- my css -->
    <link rel="stylesheet" href="/static/public/stylesheet/game.css">
    <!-- bootstrap -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    
    <!-- game start -->
    <section class="bg-game-start">
        <!-- header -->
        <header class="header">
            <div class="previous">
                <a href="/">
                    <img src="/static/public/images/assets-game/pre.png" alt="">
                </a>
            </div>
            <div class="logo">
                <img src="/static/public/images/assets-game/logo-game.png" alt="logo">
                <h1>ROCK PAPER SCISSORS</h1>
            </div>
        </header>
        <main class="game-area">
            <div class="player">
                <% if (player1 == null) { %>
                    <h1 class="comp-name">PLAYER 2</h1>
                <% } else { %>
                    <h1 class="comp-name"><%= player1.username %></h1>
                <% } %>
                <!-- player choice -->
                <form method="POST" action="/room/fight/<%= room.id %>?_method=POST" enctype="application/x-www-form-urlencoded" class="">
                    <div class="player-choice">
                        <button type="submit" id="choice-style" name="handChoice" value="rock">
                            <img src="/static/public/images/assets-game/batu.png" alt="rock" class="rock">
                        </button>
                        <button type="submit" id="choice-style" name="handChoice" value="paper">
                            <img src="/static/public/images/assets-game/kertas.png" alt="paper" class="paper">
                        </button>
                        <button type="submit" id="choice-style" name="handChoice" value="scissors">
                            <img src="/static/public/images/assets-game/gunting.png" alt="scissor" class="scissors">
                        </button>
                    </div>
                </form>
            </div>
            <!-- end player choice -->
            <!-- result -->
            <div class="result">
                <div>
                    <% if (msg.length !== 0) { %>
                    <form method="POST" action="/room/fight/<%= room.id %>?_method=POST" enctype="application/x-www-form-urlencoded" class="">
                        <div class="alert alert-danger" role="alert">
                            <% if (room.hand_choice_player1 == null) { %>
                                <%= msg %>... <button type="submit" class="btn alert-link" name="handChoice" value="<%= room.hand_choice_player2[0]%>" style="margin-top: -4px; margin-left: -7px;">refresh</button>
                            <% } else { %>
                                <%= msg %>... <button type="submit" class="btn alert-link" name="handChoice" value="<%= room.hand_choice_player1[0]%>" style="margin-top: -4px; margin-left: -7px;">refresh</button>
                            <% } %>
                            
                        </div>
                    </form>
                    <% } else { %>
                        <h1 class="versus">VS</h1>
                    <% } %>
                </div>
            </div>
            <!-- end result -->
            <!-- computer choice -->
            <div class="comp">
                <% if (player2 == null) { %>
                    <h1 class="comp-name">PLAYER 2</h1>
                <% } else { %>
                    <h1 class="comp-name"><%= player2.username %></h1>
                <% } %>
                <form method="POST" action="/room/fight/<%= room.id %>?_method=POST" enctype="application/x-www-form-urlencoded" class="">
                    <div class="comp-choice">
                        <button type="submit" id="choice-style" name="handChoice" value="rock">
                            <img src="/static/public/images/assets-game/batu.png" alt="rock" class="rock">
                        </button>
                        <button type="submit" id="choice-style" name="handChoice" value="paper">
                            <img src="/static/public/images/assets-game/kertas.png" alt="paper" class="paper">
                        </button>
                        <button type="submit" id="choice-style" name="handChoice" value="scissors">
                            <img src="/static/public/images/assets-game/gunting.png" alt="scissor" class="scissors">
                        </button>
                    </div>
                </form>
            </div>
            <!-- end computer choice -->
        </main>
        <!-- refresh -->
        <footer class="refresh">
            <img src="/static/public/images/assets-game/refresh.png" alt="refresh">
        </footer>
        <!-- end refresh -->
    </section>


    <!-- my js -->
    <!-- <script src="/static/public/javascript/game.js"></script> -->
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>